<!--<h1>New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>-->


<% content_for :header do %>
<section class="hero-body">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add New Product
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path %>
</div>